@model IEnumerable<OnlineTelMag.Data.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Модели</h1>

<p>
    <a style="color:lime" asp-action="Create">Създай нов модел</a>
</p>
<table class="table table-hover ">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Модел
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameModel)
            </td>
            @if (User.IsInRole("Admin")) { 
            <td>
                <a style="color:black" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a> |
                <a style="color:black" asp-action="Edit" asp-route-id="@item.Id">Промяна</a> 
            </td>}
            <td>
                <a style="color:black" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
            </td>
        </tr>
}
    </tbody>
</table>
