@model IEnumerable<OnlineTelMag.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Поръчки</h1>

<p>
    <a style="color:lime" asp-action="Create">Създай поръчка</a>
</p>
<table class="table  table-hover ">
    <thead>
        <tr>
            <th>
                Потребител
            </th>
            <th>
                Продукт
            </th>
            <th>
               Дата
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephones.TelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a style="color:black" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>|
                    <a style="color:black" asp-action="Edit" asp-route-id="@item.Id">Промяна</a>
                </td>
}
            <td>
                <a style="color:black" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
            </td>
        </tr>
}
    </tbody>
</table>
