@model OnlineTelMag.Models.TelephoneDetailsVM

@{
    ViewData["Title"] = "Details";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h1>Детайли</h1>

<div class="table table-bordered table-striped table-hover " style="border:groove">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Име
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelName)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prise)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Цвят
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Брой
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Broi)
        </dd>
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
    <hr/>
    <div style="overflow:auto">
        @foreach (var item in Model.ImagesPaths)
        {
            <div>
                <img class="rounded float-left" width="200" src="@item" alt="Image for @Model.TelName" ; />
            </div>
        }

    </div>
</div>
<div>
    <a style="color:lime" asp-action="Index">Назад</a>
</div>
