@model IEnumerable<OnlineTelMag.Data.Telephone> 

@{
    ViewData["Title"] = "Index1";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brands)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prise)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Broi)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.TelephoneImages)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brands.NameModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prise)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broi)
            </td>
            <td>
                <div class="card-img">
                    <img src="~/Images/@Html.DisplayFor(modelItem=>item.TelephoneImages.FirstOrDefault().ImagePath)" style="width:80%; " />
                </div>
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Orders" asp-action="Create" >Buy</a>
            </td>
        </tr>
        }
    </tbody>
</table>

