@model IEnumerable<OnlineTelMag.Data.Telephone>

@{
    ViewData["Title"] = "Index";
}

<h1>Продукти</h1>

<p>
    <a style="color:lime" asp-action="Create">Създай продукт </a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Модел
            </th>
            <th>
                Цена
            </th>
            <th>
                Цвят
            </th>
            <th>
                Брой
            </th>
            <th>
                Снимка
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brands.NameModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Broi)
                </td>
                <td>
                    <div class="card-img">
                        <img src="~/Images/@Html.DisplayFor(modelItem=>item.TelephoneImages.FirstOrDefault().ImagePath)" style="width:40%; height:50%" />
                    </div>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a style="color:black" asp-action="Edit" asp-route-id="@item.Id">Промяна</a>
                        <a style="color:black" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                }
                <td>
                    <a style="color:black" asp-action="Details" asp-route-id="@item.Id">Още</a>
                    <a style="color:black" asp-controller="Orders" asp-action="Create">Купи</a>
                </td>
            </tr>
        }
    </tbody>
</table>
